/*NAV BAR*/
/*Navigation bar modified from examples in "Mimo" android app and "w3schools"*/
/*This part sets the height and colour of the nav bar background*/
nav{
	height:60px;
	background: white;
}
/*This part sets the postion of the nav bar/site title and sets its font size and colour*/
nav div{
	position: absolute;
	left: 0;
	padding: 15px;
	font-size:20px;
	color: darkorchid;
}
/* This part sets the position of all the navigation items(whole unordered list*/
nav ul{
	margin: 10px;
	padding: 10px;
	position: absolute;
	right: 0;
}
/*This part sets the nav bar horizontal and removes bullet points (by default)*/
nav ul li{
	display: inline;
}
/*This part sets the individual list items text colour and pads between them*/
nav ul li a{
	color:purple;
	padding:5px;
}
/*This part sets the current webpage's list item's text colour*/
.current{
	color:green;
	padding:5px;
}

/*HOME PAGE*/

/*This part defines the placement and font of the headings in homecontent. Headings are centered and justified centered. Also sets background colour*/
.homecontent{
	background: darkseagreen;
	font-family: "Lucida Handwriting", cursive;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 850px;
	color: black;
}
.homecontent h2{
  font-family: "Times New Roman";
}

/*SECOND PAGE*/
/*Sets page background colour*/
.secondpagecontent{
background: darkseagreen;}
/*Sets text font and alignment for heading*/
.secondpagecontent h1{
	font-family: "Lucida Handwriting", cursive;
	text-align:center;
}
/*Sets text font and alignment for paragpraph*/
.secondpagecontent p{
	font-family: "Courier New", monospace;
	text-align: center;
	margin: 20px;
}
/*Sets colour of urls links*/
.secondpagecontent p a{
	color: yellow;
	padding: 20px;
}
.secondpagecontent p img{
	/*Rounds corners of pictures*/
	border-radius: 12px;
}

/*THIRD PAGE*/
/*Sets text font and alignment for heading*/
.thirdpagecontent h1{
	font-family: "Lucida Handwriting", cursive;
	text-align:center;	
}
/*Removes space for bullet points from unordered list of pictures and centers the list on the page*/
.thirdpagepictures ul{
	padding: 0;
	text-align: center;
}
/*List items*/
.thirdpagepictures ul li{
	/*Removes bullet points*/
	list-style: none;
	/*Displays list in grid if width is changed in window*/
	display: inline-grid;
	width: 320px;
	padding: 0 20px;
}
/*Pictures*/
.thirdpagepictures ul li img{
	/*Rounds corners of pictures*/
	border-radius: 12px;
	
}
/*Text under pictures*/
.thirdpagepictures ul li p{
	/*Centers text under picture*/
	text-align: center;
}